{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<div class = "login container">
    
    <div class="mt-5 col-md-8 mx-auto">
        <h1 class="text-gray mb-5">Login</h1>  
        <form method="POST" action="">
            {% csrf_token %}
            <table class="table table-striped table-bordered table-hover">
                <tr>
                    <td class="fw-bold">Username: </td>
                    <td><input type="text" name="username" placeholder="Username"></td>
                </tr>
                        
                <tr>
                    <td class="fw-bold">Password: </td>
                    <td><input type="password" name="password" placeholder="Password"></td>
                </tr>

                <tr>
                    <td></td>
                    <td><input type="submit" value="Login" class="btn btn-primary"></td>
                </tr>
            </table>
        </form>
        
        <h5 class="mt-5">
            Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a>
        </h5>

        {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}     
    </div>
</div>

{% endblock content %}